h1{ 
    font-style: inherit;
    text-align: center;

}
.icon{
  width: 100%;
  height: auto;
    
}
body{
   background-color:grey;
   
}
@media print and (min-width: 480px) and (max-width: 767px){
  h1{ 
    font-style: inherit;
    text-align: center;

}
.icon{
  width: 100%;
  height: auto;
    
}
body{
   background-color:grey;
   
}
  

}
